.main-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.slide-menu {
    width: 250px;
    min-height: 100vh;
    background-color: var(--primary_color);
    display: grid;
    grid-template-rows: 1fr 6fr;
    h1 {
        color: white;
        text-align: center;
        font-size: 30px
    }
    .logout-container{
        display: flex;
        justify-content: center;
    }
    .button_primary{
        width: 150px;
        background-color: white;
        color: var(--primary_color);
        font-size: 16px;
        font-weight: bold;
        gap: 20px;
        mat-icon{
            font-size: 20px;
        }
    }
}

.slide-menu-option {
    width: 100%;
    height: 60px;
    display: grid;
    cursor: pointer;
    grid-template-columns: 0.2fr 4fr 1fr;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .option-name {
        h2 {
            font-weight: 800;
            font-size: 20px;
        }
    }

    .option-icon {
        font-size: 25px;
    }

    &.active {
        border: 1px solid white;
        border-right-width: 0;
        border-left-width: 0;

        h2,
        .option-icon {
            color: white !important;
        }

        .option-head {
            background-color: white;
        }
    }
}

.slide-menu-option:hover {
    h2 {
        color: var(--color_1)
    }
}

.slide-menu-option:hover .option-icon {
    color: var(--color_1)
}

.content {
    width: calc(100% - 250px);
    max-height: 100vh;
    overflow: auto;
}