.form-container {
    width: 350px;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
}

.action-button {
    background-color: #64BB45;
    border: none;
    height: 45px;
    border-radius: 15px;
    padding: 0px 20px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    &.update{
        background-color: var(--primary_color); 
    }
}

.action-button:disabled {
    background-color: gainsboro;
}

::ng-deep .user-selector .mat-form-field-underline{
    display: none;
}
::ng-deep .user-selector .mat-form-field-flex{
    width: 91%;
}

::ng-deep .user-selector .mat-form-field-infix{
    border-top: 0;
    padding: 0;
}

::ng-deep .user-selector .mat-form-field-wrapper{
    padding-bottom: 0px !important;
}

::ng-deep .user-selector .mat-form-field-label{
    top:26px;
    left: 15px;
}

::ng-deep .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
    display: none !important;
}

@media(max-width:700px) {
    .form-container {
        width: 100%;
    }
}