<div class="container">
    <div class="header">
        <h1>Equipment</h1>
        <button class="action-button" (click)="openModal('new-equipment')">
            Create Equipment
        </button>
    </div>
    <div *ngIf="equipmentList.length > 0" class="sub-content">
        <mat-card *ngFor="let equipment of equipmentList" class="equipment-card">
            <div class="card-content">
                <div class="equipment-card-header">
                    <h2>{{equipment.brand}}</h2>
                    <div class="status-dot" [class.active]="equipment.active"></div>
                </div>
                <div class="equipment-info">
                    <div class="info-line">
                        <h4>Model:</h4>
                        <h3>{{equipment.model}}</h3>
                    </div>
                    <div class="info-line">
                        <h4>Serial:</h4>
                        <h3>{{equipment.serial}}</h3>
                    </div>
                </div>
                <div class="action-buttons">
                    <button class="action-button small edit" (click)="onEquipEdit(equipment)">
                        <mat-icon class="button-icon" inline={{true}} aria-hidden="false"
                            aria-label="Edit equipment icon" fontIcon="edit_square"></mat-icon>
                    </button>
                    <button class="action-button small delete" (click)="onUserDelete(equipment.id ? equipment.id : '')">
                        <mat-icon class="button-icon" inline={{true}} aria-hidden="false"
                            aria-label="Edit equipment icon" fontIcon="delete"></mat-icon>
                    </button>

                </div>
            </div>
        </mat-card>
    </div>
    <div *ngIf="equipmentList.length === 0" class="sub-content" style="display: flex; align-items: center;">
        <mat-spinner></mat-spinner>
    </div>
</div>

<app-new-equipment-form 
    modalID="new-equipment" 
    [isEdit]="isEdit"
    [userControl]="usersListControl" 
    [usersList]="usersList" 
    [newEquipForm]="newEquipForm" 
    (onNewEquipSave)="onNewEquipSave($event)" 
    (onEquipSave)="onEquipSave($event)">
</app-new-equipment-form>